<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/about.css">

        <title>Portrait</title>
    </head>
    <body>
        <div class="aboutme__main">
            <div class="aboutme__content">
                <div class="aboutme__imgbox">
                    <img src="../assets/img/home1.jpg" alt="" class="aboutme__img">
                </div>
                <div class="aboutme__details">
                    <div>
                        <span class="details__title">Name :</span>
                        <span class="details__data">Meha I. Patel</span>
                    </div>
                    <div>
                        <span class="details__title">Data :</span>
                        <span class="details__data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis praesentium, fuga quis ea numquam id laudantium modi nemo similique maiores est in, corrupti impedit quisquam eius non temporibus deserunt? Eveniet earum officiis asperiores optio in quae quia adipisci voluptas illo reprehenderit neque dignissimos veritatis, debitis praesentium qui odit expedita velit.</span>
                    </div>
                    <div class="aboutme__link">
                        <a href="https://www.facebook.com/" target="_blank" class="aboutme__social-link">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="aboutme__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="aboutme__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>