<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/contact.css">

    <title>Portrait</title>
</head>

<body>
    <section class="contact__section">
        <div class="first__container">
            <div class="contact__info">
                <div>
                    <h2 class="contact__title">Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="ri-map-pin-range-line contact__icon"></i></span>
                            <span>44, Ashapuri Residency,<br>Undera, Vadodara.</span>
                        </li>
                        <li>
                            <span><i class="ri-mail-add-line contact__icon"></i></span>
                            <span>artmeha38@gmail.com</span>
                        </li>
                        <li>
                            <span><i class="ri-phone-line contact__icon"></i></span>
                            <span>+91 8469661430</span>
                        </li>
                        <li class="contact__social">
                            <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                                <i class="ri-facebook-box-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-fill"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="home__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact__form">
                <h2 class="form__title">Send a Message</h2>
                <div class="form__box">
                    <div class="input__box w50">
                        <input type="text" class="form__input" required>
                        <span class="form__span">First Name</span>
                    </div>
                    <div class="input__box w50">
                        <input type="text" class="form__input" required>
                        <span class="form__span">Last Name</span>
                    </div>
                    <div class="input__box w50">
                        <input type="email" class="form__input" required>
                        <span class="form__span">Email Address</span>
                    </div>
                    <div class="input__box w50">
                        <input type="text" class="form__input" required>
                        <span class="form__span">First Name</span>
                    </div>
                    <div class="input__box w100">
                        <textarea class="form__text" required></textarea>
                        <span class="form__span">Write Your message here.....</span>
                    </div>
                    <div class="input__box w100">
                        <input class="form__input" type="submit" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>