<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/faq.css">

    <title>Portrait</title>
    </head>
    <body>
        <section class="faq__section">
            <div class="faq__container">
                <div class="faq__accordion">
                    <div class="faq__accordion-item" id="question1">
                        <a class="accordion-link" href="#question1">
                            How often do you see portrait?
                            <i class="ri-add-line faq_icon"></i>
                            <i class="ri-arrow-up-s-line faq_icon"></i>
                        </a>
                        <div class="answer">
                            <p class="ans__data">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores sequi unde 
                                veritatis placeat quod consequuntur sint explicabo quos voluptates labore impedit, et eum 
                                aperiam eaque ipsum atque perspiciatis officia repellat amet velit aspernatur magni. Labore 
                                quaerat quo veniam harum.
                            </p>
                        </div>
                    </div>

                    <div class="faq__accordion-item" id="question2">
                        <a class="accordion-link" href="#question2">
                            How often do you buy portrait?
                            <i class="ri-add-line faq_icon"></i>
                            <i class="ri-arrow-up-s-line faq_icon"></i>
                        </a>
                        <div class="answer">
                            <p class="ans__data">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores sequi unde 
                                veritatis placeat quod consequuntur sint explicabo quos voluptates labore impedit, et eum 
                                aperiam eaque ipsum atque perspiciatis officia repellat amet velit aspernatur magni. Labore 
                                quaerat quo veniam harum.
                            </p>
                        </div>
                    </div>

                    <div class="faq__accordion-item" id="question3">
                        <a class="accordion-link" href="#question3">
                            How often do you see portrait?
                            <i class="ri-add-line faq_icon"></i>
                            <i class="ri-arrow-up-s-line faq_icon"></i>
                        </a>
                        <div class="answer">
                            <p class="ans__data">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores sequi unde 
                                veritatis placeat quod consequuntur sint explicabo quos voluptates labore impedit, et eum 
                                aperiam eaque ipsum atque perspiciatis officia repellat amet velit aspernatur magni. Labore 
                                quaerat quo veniam harum.
                            </p>
                        </div>
                    </div>

                    <div class="faq__accordion-item" id="question4">
                        <a class="accordion-link" href="#question4">
                            How often do you buy portrait?
                            <i class="ri-add-line faq_icon"></i>
                            <i class="ri-arrow-up-s-line faq_icon"></i>
                        </a>
                        <div class="answer">
                            <p class="ans__data">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores sequi unde 
                                veritatis placeat quod consequuntur sint explicabo quos voluptates labore impedit, et eum 
                                aperiam eaque ipsum atque perspiciatis officia repellat amet velit aspernatur magni. Labore 
                                quaerat quo veniam harum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>