<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/features.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Portrait</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="pointer"></div>
            <div class="container">
              <p data-typing="i">I</p>
              <p data-typing="frontend">404</p>
              <p data-typing="engineer">Page</p>
              <p data-typing="with">Not</p>
              <p data-typing="javascript">Found</p>
              <p data-typing="typescript">Page</p>
              <p data-typing="css">Under</p>
              <p data-typing="nodejs">Construction</p>
              <p data-typing="animation">Visit</p>
              <p data-typing="scenejs">Again</p>
            </div>
          </div>
          <script src="../assets/js/features.js"></script>
    </body>
</html>