<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/gellary.css">


    <title>Portrait</title>
</head>

<body>
    <main class="main">
        <div class="title__container container grid">
            <h1 class="section__title">Gallery</h1>
        </div>

        <!--================== gallery ========================-->
        <section>
            <div class="gallery__container grid">
                <a href="view.html?name=about1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=about2.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose1.jpg&2021">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose3.jpg&2018">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose5.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose5.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover3.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover4.jpg&2015">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=experience2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/experience2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home1.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose4.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>

                <a href="view.html?name=about1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=about2.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose1.jpg&2021">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose3.jpg&2018">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose5.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose5.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover3.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover4.jpg&2015">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=experience2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/experience2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home1.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose4.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>

                <a href="view.html?name=about1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=about2.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose1.jpg&2021">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose3.jpg&2018">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose5.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose5.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover3.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover4.jpg&2015">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=experience2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/experience2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home1.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose4.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>

                <a href="view.html?name=about1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=about2.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/about2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose1.jpg&2021">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose3.jpg&2018">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose5.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose5.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover1.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover3.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover3.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover4.jpg&2015">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=experience2.jpg&2017">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/experience2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home1.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home1.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=discover2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/discover2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=home2.jpg&2020">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/home2.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>
                <a href="view.html?name=choose4.jpg&2019">
                    <div class="gallery__block">
                        <div class="gallery__box">
                            <div class="new">NEW</div>
                            <img src="../assets/img/choose4.jpg" alt="" class="gallery__img">
                        </div>
                    </div>
                </a>

                
            </div>
        </section>

        <!--======================= Social link=====================-->
        <a href="https://www.instagram.com/?hl=en" class="insta__link">
            <i class="ri-instagram-line insta__icon"></i>
        </a>

        <!--==================== social message================-->
        <div class="message__box" id="message-box">
            <div class="message__data">
                <i class="ri-close-fill message__close" id="message-close"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae animi, libero quis explicabo possimus.</p>
            </div>
        </div>
    </main>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line scrollup__icon"></i>
    </a>

    <!--================== Js ==============-->
    <script src="../assets/js/gallery.js"></script>

</body>

</html>