<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/gellary.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Portrait</title>
</head>

<body>
    <main class="main">
        <div class="title__container container grid">
            <h1 class="section__title">Gallery</h1>
        </div>

        <!--================== gallery ========================-->
        <section>
            <div class="gallery__container grid">
            </div>
        </section>

        <!--======================= Social link=====================-->
        <a href="https://www.instagram.com/?hl=en" class="insta__link">
            <i class="ri-instagram-line insta__icon"></i>
        </a>

        <!--==================== social message================-->
        <div class="message__box" id="message-box">
            <div class="message__data">
                <i class="ri-close-fill message__close" id="message-close"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae animi, libero quis explicabo
                    possimus.</p>
            </div>
        </div>
    </main>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line scrollup__icon"></i>
    </a>

    <!--================== Js ==============-->
    <script src="../assets/js/gallery.js"></script>

</body>

</html>