<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../assets/css/selected.css">

    <title>Portrait</title>
</head>

<body>
    <main class="main">
        <section class="top_5">
            <div class="frame__container container grid">
                <div class="frame__data">
                    <p class="frame__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        commodi doloremque distinctio omnis. Doloremque eos voluptatem dolor. Sint eaque suscipit dolore
                        officia ratione distinctio libero, aperiam voluptate. Aspernatur iure necessitatibus autem? At
                        facere culpa molestias, sint iusto quibusdam laudantium nemo veniam, ea, magnam architecto?
                        Laboriosam quod voluptatum mollitia quidem distinctio!</p>
                </div>
                <div class="frame__img">
                    <img src="../assets/img/img1-left.jpg" alt="" class="left">
                    <img src="../assets/img/img1-right.jpg" alt="" class="right">
                </div>

                <div class="frame__data">
                    <p class="frame__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        commodi doloremque distinctio omnis. Doloremque eos voluptatem dolor. Sint eaque suscipit dolore
                        officia ratione distinctio libero, aperiam voluptate. Aspernatur iure necessitatibus autem? At
                        facere culpa molestias, sint iusto quibusdam laudantium nemo veniam, ea, magnam architecto?
                        Laboriosam quod voluptatum mollitia quidem distinctio!</p>
                </div>
                <div class="frame__img">
                    <img src="../assets/img/img2-left.jpg" alt="" class="left">
                    <img src="../assets/img/img2-right.jpg" alt="" class="right">
                </div>

                <div class="frame__data">
                    <p class="frame__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        commodi doloremque distinctio omnis. Doloremque eos voluptatem dolor. Sint eaque suscipit dolore
                        officia ratione distinctio libero, aperiam voluptate. Aspernatur iure necessitatibus autem? At
                        facere culpa molestias, sint iusto quibusdam laudantium nemo veniam, ea, magnam architecto?
                        Laboriosam quod voluptatum mollitia quidem distinctio!</p>
                </div>
                <div class="frame__img">
                    <img src="../assets/img/img3-left.jpg" alt="" class="left">
                    <img src="../assets/img/img3-right.jpg" alt="" class="right">
                </div>

                <div class="frame__data">
                    <p class="frame__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        commodi doloremque distinctio omnis. Doloremque eos voluptatem dolor. Sint eaque suscipit dolore
                        officia ratione distinctio libero, aperiam voluptate. Aspernatur iure necessitatibus autem? At
                        facere culpa molestias, sint iusto quibusdam laudantium nemo veniam, ea, magnam architecto?
                        Laboriosam quod voluptatum mollitia quidem distinctio!</p>
                </div>
                <div class="frame__img">
                    <img src="../assets/img/img4-left.jpg" alt="" class="left">
                    <img src="../assets/img/img4-right.jpg" alt="" class="right">
                </div>

                <div class="frame__data">
                    <p class="frame__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        commodi doloremque distinctio omnis. Doloremque eos voluptatem dolor. Sint eaque suscipit dolore
                        officia ratione distinctio libero, aperiam voluptate. Aspernatur iure necessitatibus autem? At
                        facere culpa molestias, sint iusto quibusdam laudantium nemo veniam, ea, magnam architecto?
                        Laboriosam quod voluptatum mollitia quidem distinctio!</p>
                </div>
                <div class="frame__img">
                    <img src="../assets/img/img5-left.jpg" alt="" class="left">
                    <img src="../assets/img/img5-right.jpg" alt="" class="right">
                </div>
            </div>
        </section>

        <!--============================ Review ============================-->
        <section class="review section" id="review">
            <div class="review__container container grid">
                <div class="review__title">
                    <h1 class="section__title">Customer's Reviews</h1>
                </div>

                <div class="review__box">
                    <div class="review__list">
                        <i class="ri-user-fill user__logo"></i>
                        <div>
                            <h2 class="user__name">John Dev</h2>
                            <span class="user__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Explicabo enim odio molestiae aliquam harum quia, quasi rem ex id repudiandae quidem.
                                Officia earum amet perspiciatis voluptate suscipit excepturi architecto a quis, odit cum
                                quaerat, aut fugiat. Laborum natus ab quo nobis enim. Maxime dolore ipsam harum facere
                                aliquam maiores cumque.</span>
                        </div>
                    </div>
                    <div class="review__list">
                        <i class="ri-user-fill user__logo"></i>
                        <div>
                            <h2 class="user__name">John Dev</h2>
                            <span class="user__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Explicabo enim odio molestiae aliquam harum quia, quasi rem ex id repudiandae quidem.
                                Officia earum amet perspiciatis voluptate suscipit excepturi architecto a quis, odit cum
                                quaerat, aut fugiat. Laborum natus ab quo nobis enim. Maxime dolore ipsam harum facere
                                aliquam maiores cumque.</span>
                        </div>
                    </div>
                    <div class="review__list">
                        <i class="ri-user-fill user__logo"></i>
                        <div>
                            <h2 class="user__name">John Dev</h2>
                            <span class="user__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Explicabo enim odio molestiae aliquam harum quia, quasi rem ex id repudiandae quidem.
                                Officia earum amet perspiciatis voluptate suscipit excepturi architecto a quis, odit cum
                                quaerat, aut fugiat. Laborum natus ab quo nobis enim. Maxime dolore ipsam harum facere
                                aliquam maiores cumque.</span>
                        </div>
                    </div>
                    <div class="review__list">
                        <i class="ri-user-fill user__logo"></i>
                        <div>
                            <h2 class="user__name">John Dev</h2>
                            <span class="user__comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Explicabo enim odio molestiae aliquam harum quia, quasi rem ex id repudiandae quidem.
                                Officia earum amet perspiciatis voluptate suscipit excepturi architecto a quis, odit cum
                                quaerat, aut fugiat. Laborum natus ab quo nobis enim. Maxime dolore ipsam harum facere
                                aliquam maiores cumque.</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line scrollup__icon"></i>
    </a>

    <!--================== Js =============-->
    <script src="../assets/js/selected.js"></script>
</body>

</html>