@import url('styles.css');

.aboutme__main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 8rem;
}

.aboutme__content{
    width: 35rem;
    height: 35rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
}

.aboutme__imgbox{
    width: 13rem;
    height: 13rem;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.aboutme__img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}

.aboutme__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    margin-top: 10rem;
    row-gap: 1rem;
}

.details__title{
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-transform: uppercase;
}

.details__data{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color-alt);
}

.aboutme__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutme__social-link{
    color: var(--first-color);
    width: max-content;
    font-size: var(--h2-font-size);
}