@import url('styles.css');

body{
    margin: 0;
}

.contact__section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #112037;
}

.contact__section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:  #105463;
}

.first__container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact__info{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:  #112037;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.contact__form{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: var(--white-color);
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.contact__title{
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2-5);
}

.info{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info li{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    column-gap: var(--mb-2);
}

.info li:nth-child(4){
    margin-top: 4rem;
}

.contact__icon{
    font-size: 1.6rem;
    width: max-content;
}

.contact__social{
    display: flex;
    column-gap: 2rem;
}

.form__title{
    color: var(--first-color);
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.form__box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.input__box{
    position: relative;
    margin-bottom: var(--mb-2-5);
}

.w50{
    width: 47%;
}

.w100{
    width: 100%;
}

.form__input, .form__text{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: var(--normal-font-size);
    font-weight: 300;
    color: var(--first-color-alt);
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.form__text{
    height: 120px;
}

.form__span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: var(--normal-font-size);
    font-weight: 300;
    transition: 0.3s;
}

.form__input:focus ~ .form__span,
.form__input:valid ~ .form__span,
.form__text:focus ~ .form__span,
.form__text:valid ~ .form__span{
    transform: translateY(-20px);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    letter-spacing: 1px;
    color:  #112037;
}

.form__input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: var(--first-color);
    color: var(--white-color);
    border: none;
    max-width: 150px;
    padding: 12px;
}

.form__input[type="submit"]:hover{
    background: var(--first-color-alt);
}




@media (max-width : 1200px) {
    .first__container{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .contact__info{
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }

    .contact__form{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width : 991px){
    .contact__section{
        background: #105463;
    }
    .contact__section::before{
        display: none;
    }

    .first__container{
        display: flex;
        flex-direction: column-reverse;
    }

    .contact__form{
        width: 100%;
        height: auto;
    }

    .contact__info{
        width: 100%;
        height: auto;
    }

    .info li{
        margin-bottom: var(--mb-0-75);
    }

    .info li:nth-child(4){
        margin-top: 1rem;
    }
    
}

@media (max-width : 600px){
    .contact__form{
        padding: 25px;
    }

    .contact__info{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .input__box.w50{
        width: 100%;
    }
}